@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    font-family: 'Open Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .main-fold {
    background-image: url("/MainImageMobile.png");

    z-index: 1;
  }
  .main-fold-inner {
    min-height: 543px;
    margin-top: -30px;
  }
  @media (min-width: 640px) {
    .main-fold {
      background-image: url("/MainImage.png");
      z-index: 1;
    }
    .main-fold-inner {
      min-height: 602px;
      margin-top: -30px;
    }
  }
  .form-input {
    padding-left: 2.5rem;
  }

  .form-input + .success.span:before {
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #32be50;
  }

  .form-input + .error.span:before {
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #dc3545;
  }
}
